<!DOCTYPE html>
<html>
  <head>
    <title>Outlook Calendar APIs</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/styles/login.css">
    <link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.min.css">
    <link type="text/css" rel="stylesheet" href="//appsforoffice.microsoft.com/fabric/1.0/fabric.components.min.css">

  </head>

  <body>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="/js/angularLoginController.js"></script>
  <script src="/dependencies/sails.io.js"></script>

  </body>

</html>
